.container{
width:1000px;
margin:0 auto;
}
body{
	background-image: url(file:///D|/Assn1/Images/sand.jpg);
	background-size: 100%;
	background-repeat: no-repeat;
	
}

header{
	width: 1000px;
	height: 150px;
	text-align: center;
	padding-top: 20px;
	color: yellow;
	font-size: 3em;
	font-family: "Comic Sans MS";
	background-image: none;

}
nav{
	border-top: 2px groove red;
	width: 1000px;
	height: 80px;
	color: #C3C;
	font-size: 20px;
	font-family: "Palatino Linotype";
	text-decoration: none;
	text-align: center;
	font-weight: bolder;


}
#content{
	width: 1000px;
	height: 550px;
	opacity: 0.6;
	border: 1px solid #000;
	background-color: #ffffff;
	font-size:24px;
	
}

h2{
text-align:center; 
color:red; 
font-size:2em;
}
article {
padding:20px;
font-size:20px;
}

td
{
	color: #000;
	font-weight: bolder;
}

footer{
width:1000px;
margin:0 auto;
height:20px; 
border:solid yellow;
text-align:center; 
background-color:#707A14;
color:white;
padding:10px;
}
ul{
padding-top:5px; 
margin:0;
}
li{
display:inline;
list-style:none;
padding:4px; 
margin:4px;
}
#link{
	color: #FFFFFF;
	font-size: 25px;
	font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
	font-style: normal;
	font-weight: bolder;	

}
